body {
    font-family: 'Georgia';
    font-size: larger;
    text-wrap: wrap;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
    text-align: center;
}

header {
    position: relative;
    text-align: center;
    color: white;
    padding: 100px;
    background-color: rgb(0, 0, 0); 
}

nav ul {
    background-color: #ffffff;
    overflow: hidden;
    text-align: center; 
}

nav ul li {
    display: inline-block; 
    list-style: none;
}

nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #ffffff;
}

nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul li ul li {
    width: 180px;
    display: list-item;
    position: relative;
    text-align: left;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: medium;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

article {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

.read-more {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #1459a3;
}

.read-more:hover {
    text-decoration: underline;
}

.toggle-btn {
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;
}

.toggle-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 0.3s;
}

/* Gaya untuk sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


* {
  box-sizing: border-box;
}

/* padding */
.container {
  padding: 16px;
  background-color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* style buat tombol submit */
.registerbtn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* teks biru buat link */
a {
  color: rgb(40, 122, 204);
}

/* background abu buat maukin email dan tulisan ketengah */
.signin {
  background-color: rgb(221, 221, 221);
  text-align: center;
}

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: georgia;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    position: relative;
    display: none;
  }
  
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* tombol x buat nutup gambar */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #000000;
    color: white;
  }
  
  .fa-twitter {
    background: #000000;
    color: white;
  }

  .fa-youtube {
    background: #000000;
    color: white;
  }
  
  .fa-instagram {
    background: #000000;
    color: white;
  }
